
.App {
  background-color:lightgrey;
}

.songcontainerLi {
 background-color:greenyellow;
 display:flex;
 flex-direction: row;
 justify-content: center;
 gap: 200px;
}

.songcontainerLi p {
  color:red;
  font-size: 25px;
  text-decoration: underline;
}

.listcontainer{
  background-color:lightpink;
  display:flex;
 flex-direction: row;
 justify-content: center;
 gap: 200px;
}

.listcontainer p {
  font-size: 25px; 
  text-align: left;
} 


.songformbutton{
  background-color:lightcoral;
  

}
.songformbutton {
  background-color: lightgray;
  border:black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  width: 150px;
  height: 52px;

  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.songforminput{
  background-color: whitesmoke;
}

.songforminput input{
  width: 150px;
  height: 50px
}

.songforminput select{
  width: 150px;
  height: 53px
}

.sortering select{
  width: 200px;
  height: 53px
}